body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f7f7f7;
}

.top {
  text-align: center;
  background: #ffb703;
  padding: 25px;
  color: black;
}

.sub {
  font-weight: bold;
  margin-top: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 18px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #219653;
}

.btn {
  display: block;
  margin: 15px;
  padding: 12px;
  background: #25D366;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

.footer {
  text-align: center;
  padding: 20px;
  color: gray;
}
/* BOTON DE PAGO */
.pay {
  background: #28a745;
  color: white;
  font-weight: bold;
}
.qty{
  display:flex;
  justify-content:center;
  gap:8px;
  margin:10px 0;
}

.qty button{
  width:35px;
  height:35px;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:18px;
}

.qty input{
  width:60px;
  text-align:center;
}
